html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

main {
  height: 100%;
  display: flex;
}

p {
  max-width: 800px;
  margin: 10px 20px;
  font-size: 20px;
  line-height: 34px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}

.content {
  margin: auto;
}

.emoji {
  font-size: 26px;
  margin-right: 2px;
}

a, a:visited, a:hover {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0,0.8);
}

@media (max-width: 500px) {
  p {
    font-size: 17px;
    line-height: 27px;
  }

  .emoji {
    font-size: 21px;
  }
}

